In [1]:
'''
1
21
321
4321

'''

for i in range(5):
    for j in range(i):
        print(i-j,end="")
    print()

1
21
321
4321

In [2]:
''' 
1
22
333
4444
55555

'''

for i in range(5):
    for j in range(i):
        print(i,end='')
    print()

1
22
333
4444

In [12]:
''' 
5
44
333
2222
11111
'''

for i in range(5):
    for j in range(i+1):
        print(5-i,end='')
    print()

5
44
333
2222
11111

In [13]:
''' 
5
45
345
2345
12345
'''

for i in range(5):
    for j in range(i):
        print(5-j,end='')
    print()

5
54
543
5432

In [19]:
'''' 
5        n
45       
345
2345
12345

'''

for i in range(5):
    for j in range(i+1):
        print( 5-(i-j) ,end='')
    print()

5
45
345
2345
12345

In [35]:
''' 
         1
        12
       123
      1234
      '''
      
for i in range(5):
    print((5-i)*' ',end='')
    for j in range(i):
        print( j+1,end='')
        
    print()

    1
   12
  123
 1234

In [36]:
''' 
    1
   21
  321
 4321
 
 '''
 
for i in range(5):
    print((5-i)*' ',end='')
    for j in range(i):
        print(i-j,end='')
    print()

    1
   21
  321
 4321

In [38]:
''' 
     5
    45
   345
  2345
  '''
for i in range(5):
    print((5-i)*' ',end='')
    for j in range(i+1):
        print(5-(i-j),end='')
    print()

     5
    45
   345
  2345
 12345

In [69]:
''' 
  *
*   *
* * *
*   *

'''

for row in range(4):
    for col in range(3):
        if row!=0 and (col==0 or col==2) or (row==2 and col==1) or (row==0 and col!=0 and col!=2):
            print(' *',end='')
        else:
            print('  ',end='')
    print()

   *
 *   *
 * * *
 *   *

In [20]:
''' 
* * * *
*      *
* * * *
*      *
* * * *

'''

for row in range(5):
    for col in range(5):
        if  col==0 or ((row==0 or row==2 or row==4) and (col!=4) ) or (row==1 and col==4 ) or (row==3 and col==4):
            print(' *',end='')
        else:
            print('  ',end = '')
    print()

 * * * *
 *       *
 * * * *
 *       *
 * * * *

In [31]:
''' 
 * * *
*
*
 * * *


'''

for row in range(4):
    for col in range(4):
        if((row==0 or row==3) and col!=0 ) or (col==0 and(row==1 or row==2)):
            print(' *',end='')
        else:
            print(' ',end='')
    print()

  * * *
 *
 *
  * * *

In [32]:

'''
         H
       H H H
     H H H H H
   H H H H H H H
 H H H H H H H H H
   H H H H H H H
   H H H H H H H
   H H H H H H H
   H H H H H H H
   H H H H H H H
   H H H H H H H 


'''

n = 5 
for i in range(5+1):
    for s in range(5-i):
        print('  ',end='')
    print( (2*i-1)*' H',end='')
    print('\n',end='')
for i in range(5+1):
    print(int((n/2))*' ',end='')
    for  j in range(n+2):
        print(' H',end='')
       # print((5*(int((n/2)+1))*' '),end='')
       # print(' H',end='')
    print('\n',end='')

         H
       H H H
     H H H H H
   H H H H H H H
 H H H H H H H H H
   H H H H H H H
   H H H H H H H
   H H H H H H H
   H H H H H H H
   H H H H H H H
   H H H H H H H

In [80]:
"""

* * * * 
*     *
*     *
* * * *


"""

n=4
for i in range(int(n)):
    for j in range(int(n)):
        if((j==0 or j==n-1 ) or (i!=j and(i==0 or i==n-1))):
            print(' *',end='')
        else:
            print('  ',end='')
    print()

 * * * *
 *     *
 *     *
 * * * *

In [83]:

''''
1 
2 3
4 5 6
7 8 9 10

'''


n=4
num=1
for i in range(n):
    for j in range(i):
        print(num,end='')
        num+=1
    print()

1
23
456

In [103]:
'''
1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

'''

n=7
for i in range(1,n):
    for j in range(1,i):
        if ((i+j)%2==2 or (i+j)%2==0 ):
            print('0',end='')
        else:
            print('1',end='')
            
    print()

1
01
101
0101
10101

In [4]:
n=5
for i in range(n):
    print((n-i)*' ',end='')
    
    for j in range(n):
        print(' *',end='')
    print()

      * * * * *
     * * * * *
    * * * * *
   * * * * *
  * * * * *

In [55]:
''' 
    1
  2 1 2
3 2 1 2 3 

'''

n=5
for i in range(1,n+1):
    print((n-i)*' ',end='')
    for j in range(1,(2*i)):
        if(j<=i):
            print(j,end='')
        else:
            print((2*i-j),end='')
    print()

    1
   121
  12321
 1234321
123454321

In [54]:
n=4
for i in range(n):
    print(i,end='')

0123

In [56]:
n = 4  # Adjust the number of rows if needed
for i in range(1, n + 1):
    print((n - i) * ' ', end='')  # Print leading spaces
    for j in range(1, 2 * i):
        if j <= i:
            print(j, end='')  # Increasing part
        else:
            print(2 * i - j, end='')  # Decreasing part
    print()

   1
  121
 12321
1234321