DEVELOP  A PROGRAM TO READ THE STUDENT DETIALS NAME MARKS AND DETAILS AND PERCENTAGE WITH MULTIPLE MESSAGES

In [1]:
name = input('enter your name : ' )
usn = input('enter your usn :')
kannada_marks= int(input('enter kannada marks :'))
maths_marks= int(input('enter maths marks:'))
physics_marks=int(input('enter physics marks:'))
total_marks = kannada_marks + maths_marks + physics_marks
print('student name :',name)
print('student usn :',usn)
print('kannada score is : ',kannada_marks)
print('maths score is : ',maths_marks)
print('physics score is:',physics_marks)
print('total marks obtained :',total_marks)

student name : HARHSA
student usn : 4
kannada score is :  5
maths score is :  4
physics score is: 4
total marks obtained : 13

DEVELOP  A PROGRAM TO READ THE NAME AGE , YEAR OF BIRTH  OF A PERSON DISPLAY WHETHER THE PERSON IS SENIOR CITIZEN OR NOT

In [ ]:
while(True) :
    name = input('enter your name:')
    year=int(input('enter your birth year:'))
    age=2023-year
    if(age>60) :
        print('he is senior citizen')
    
    else :
        print('he is gentleman')
    next=input('want to check agian')
    if(next=='no') :
        break
    if(next == 'yes') :
        continue

enter your name: ramaya
enter your birth year: 1989

he is gentleman

want to check agian yes
enter your name: somaya
enter your birth year: 1998

he is gentleman

want to check agian yes
enter your name: narayana
enter your birth year: 1766

he is senior citizen

MENU DRIVEN CALCULATOR  ALSO ASK WHETHER TO CONTINUE OR NOT

In [7]:
while(True) :
    num1=int(input('enter first number:'))
    num2=int(input('enter second number:'))
    operator=input('enter the operator:')
             
    if(operator=='+') :
             print('the sum is :',num1+num2)
             
    elif(operator=='-') :
             print('the subtraction is :',num1-num2)
    
             
    elif(operator=='*') :
             print('the product is : ',num1*num2)
        
    elif(operator=='/') :
             print('the quotient is : ',num1/num2)
             
    else :
             print('wrong operator,please check')
             
             
    next=input('want to repeat:')
    if(next=='no'):
                break
    
    if(next=='yes'):
        continue

enter first number: 7
enter second number: 8
enter the operator: -

the subtraction is : -1

want to repeat: yes
enter first number: 34
enter second number: 45
enter the operator: *

the product is :  1530

want to repeat: no

PRODUCT OF THREE DIGITS IF THE DIGIT WITH CONDITIONS

In [ ]:
num1=int(input('first number'))
num2= int(input('enter second number'))
num3=int(input('third number'))

if(num1!=7 and num2!=7 and num3!=7) :
    print('the product is : ',num1*num2*num3)
    
if(num1==7 and num2!=7 and num3!=7) :
    print('the product is: ',num2*num3)
    
if(num1==7 and num2==7  and num3!=7) :
    print('the producct is :',num3)
    
else :
    print('the product is -1')

first number 4

CHECK WHETHER THE INPUTED SIDES BY THE USER FORM TRIANGLE OR NOT

In [11]:
side1 = int(input('enter first side :'))
side2 = int(input('enter second side:'))
side3 = int(input('enter third side :'))

if side1+side2>side3 and side2+side3>side1 and side3+side1>side2 :
    print('these sides can form triangle')   
else :
    print('these sides cannot form triangle')

enter first side : 6
enter second side: 8
enter third side : 10

these sides can form triangle

CHECK THE NUMBER FREQUENCY OF EACH

In [1]:
n = input('enter a number:')
for i in set(n) :
    res = n.count(i)#function that calculates the number of times a number repeated
    
    print('the frequency of ',i,'is',res)

enter a number: 234534143

the frequency of  2 is 1
the frequency of  1 is 1
the frequency of  4 is 3
the frequency of  3 is 3
the frequency of  5 is 1

INPUT THE LEVEL AND SALARY OF THE EMPLOYEE AND INCREASE THEIR SALARIES AS PER THE LEVEL

In [2]:
salary = int(input('enter the salary:'))
level = int(input('level of employee:'))
if level == 3 :
    print('the salary increases by 15% :',salary+(15/100)*salary)
    
if level == 2 :
    print('salary increases by 7% :',salary +(7/100)*salary)
    
if level ==1 :
    print('salary increases by 5% :',salary+(5/100)*salary)

enter the salary: 20000
level of employee: 3

the salary increases by 15% : 23000.0

PERFECT NUMBER OR NOT

In [19]:

#the sum of the factors of an number is same as that number then it is perfect number

n = int(input('enter a number:'))
add=0 
for i in range(1,n):
    if n%i==0 :
        add=add+i
if add==n :
    print('the number is a perect number :',n)
    
else :
    print('the number is not a perfect number')

enter a number: 28

the number is a perect number : 28

PRIME NUMBER OR NOT USING FUNCTIONS

In [3]:
def prime(x):
    for i in range(2,int(n/2)+1):
        if n%i==0 :
            print('not a prime')
            
    else :
        print(' number is prime')
        return n
            
n = int(input('enter a number:'))
primenumber=prime(n)
print(primenumber)

enter a number: 3

 number is prime
3

In [ ]:
FIBONNACCI SERIES  TILL THE GIVEN NUMBER

In [4]:
n = int(input('enter a number:'))
n1=0
n2=1
res=0
print(n1)
print(n2)
for i in range(n):

    res=n1+n2
    n1=n2
    n2=res
    print(res)

enter a number: 6

0
1
1
2
3
5
8
13

FIBONACCI SERIES USING RECURSION

In [29]:
def fibonacci(x):
    if x<=1 :
        return x
    else:
        return fibonacci(x-1)+fibonacci(x-2)
    

n = int(input('enter a number:'))
for i in range(n):
    print(fibonacci(i))

enter a number: 5

0
1
1
2
3

FACTORIAL OF A NUMBER

In [3]:
n = int(input('enter a number:'))
res=1
for i in range(1,n+1):
    if n>=1 :
        res=res*i
print(res)

ValueError: invalid literal for int() with base 10: ''

FACTORIAL USING FUNCTIONS RECURSION

In [41]:
def fact(n):
    if n==0 :
        return 1
    elif n<0 :
        return -1
    else:
        return n*fact(n-1)
    
n = int(input('enter a number:'))
print(fact(n))

enter a number: 5

120

FREQUENCY OF A EACHDIGIT REPEATED IN USER ENTERED NUMBER

In [6]:
n = input('enter a number:')
for i in set(n):
    res=n.count(i)
    print('frequency of ',i,'is:',res)

enter a number: 141341134

frequency of  4 is: 3
frequency of  1 is: 4
frequency of  3 is: 2

PATTERN PRINTINGs

In [54]:
n = int(input('enter a number:'))
for i in range(1,n+1):
    print(i*str(i))

enter a number: 5

1
22
333
4444
55555

In [69]:
n = int(input('enter a number:'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    print('\n')

enter a number: 5

1

12

123

1234

12345

In [2]:
n = int(input('enter a number:'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(j,end="")
    print('\n')

1

In [ ]:
n = int(input('enter a number:'))
for i in range(1,n+1):
    for j in range(i,n+1):
        print(j,end="")
    print('\n')

enter a number: 5

12345

2345

345

45

5

In [ ]:
n = int(input('enter a number:'))
for i in range(1,n+1):
    for j in range(i):
        print(i,end="")
    print('\n')

enter a number: 5

1

22

333

4444

55555

LEAP YEAR PROGRAM

In [4]:
year = int(input('enter the year u need to check:'))
if year%4==0 and year%100!=0 :
    print('the year is leap year')
elif year%400==0 and year%100==0:
    print('the year is leap year')
else:
    print('not a leap year')

enter the year u need to check: 2024

the year is leap year

CONVERT FOOT TO INCHES AND INCHES TO FOOT

In [9]:
n = int(input('enter number 1.foot to inches 2.inches to foot'))
if n==1 :
    a=int(input('enter the footlength:'))
    res=a*12
    print(res,'inches')
elif n==2 :
    b = int(input('enter the inches:'))
    res = b/12
    print(res,'foot')

enter number 1.foot to inches 2.inches to foot 2
enter the inches: 23

1.9166666666666667 foot

ARMSTRONG NUMBER CHECK

In [8]:
num = int(input('enter a number'))
temp=num
m=str(num)
sum=0
while temp>0:
    r = temp%10
    sum=sum+r**len(m)
    
    temp=temp//10
    
if sum==num :
    print('it is an armstrong number')
    
else:
    print('not an armstrong number')

enter a number 153

it is an armstrong number

PROGRAM TO FIND AVERAGE MEAN AND STANDARD DEVIATION

In [1]:
import numpy as np
a=[]
n=int(input('enter the number of elements to be inputed:'))
for i in range(n):
    a.append(int(input('enter elements:')))
avg = np.average(a)
print('the average is :',avg)
var = np.var(a)
print('the varience is :',var)
std = np.std(a)
print('the standard deviation is :',std)

ModuleNotFoundError: No module named 'numpy'

In [17]:
def fact(x):
    if x==0 :
        return 1
    else :
        return x*fact(x-1)

#res= fact(n)/(fact(r)*fact(n-r))
    
n=int(input('enter a number;'))
#r=int(input('enter a number;'))
#res=n1
print(res)

enter a number; 4

1.0

CHECK WHETHER THE GIVEN STRING IS PALINDROME OR NOT

In [15]:
a = input('enter your string:')
reverse=a[::-1]                     # since python is a case sinsitive programme we need to be careful at case of the letters 
if a.lower() == reverse.lower():    # lower function converts all the string that is inputed to lower case then 
                                    # both the strings are compared it gives right ans 
    print('the string is palindrome')
else:
    print('the string is not palindrome')

enter your string: ammA

the string is palindrome

CHECK WHETHER THE GIVEN NUMBER IS PALINDROME ARE NOT

In [15]:
n = int(input('enter a number:'))

res=0
temp=n
while n>0:
    rem=n%10
    res=rem+(res*10)
    n=n//10

if temp==res:
    print('the number is palindrome')
    print(res)
else:
    print('the number is not palindrome')
    print(res)

enter a number: 1234321

the number is palindrome
1234321

In [ ]:
10//3

PYHTOGOREAN TRIPLETS IN A RANGE OF NUMBERS

In [16]:
def pythogoreantriplets(limits):
    c,m=0,2
    while c<limits:
        for n in range(1,m):
            a = m*m-n*n
            b = 2*m*n
            c=m*m+n*n
            
            if c>limits:
                break
            print(a,b,c)
            m=m+1
limit = 20
pythogoreantriplets(limit)

3 4 5
8 6 10
12 16 20

In [17]:
limit = int(input('enter limit:'))
c = 0  
m = 2 
while c <limit:
    for n in range(1,m):
        a = m*m-n*n   # a is perpendicular of right angle triangle value 
        b = 2*m*n      # b is base value of traingle
        c=m*m+n*n        # c is hypotenues of the triangle
    
    # if c is greater then limits 
    # then break the loop 
        if c>limit:
            break
        print(a,b,c)
    m=m+1
# we find the numbers that are

enter limit: 10

3 4 5
8 6 10

In [19]:
for a in range(1,20):
    for b in range(1,20):
        for c in range(1,20):
            if a*a + b*b == c*c :
               # res = set(a,b,c)
               # print(res)
                            
                print(f' the numbers {a} , {b} , and {c} are pythogorean triplets')
# ib this program there is repettation of the digits assigned to differnt parameters at each repetation
# like 3 is base at first tringle next it is perpendicular and then later it is hyptenues

 the numbers 3 , 4 , and 5 are pythogorean triplets
 the numbers 4 , 3 , and 5 are pythogorean triplets
 the numbers 5 , 12 , and 13 are pythogorean triplets
 the numbers 6 , 8 , and 10 are pythogorean triplets
 the numbers 8 , 6 , and 10 are pythogorean triplets
 the numbers 8 , 15 , and 17 are pythogorean triplets
 the numbers 9 , 12 , and 15 are pythogorean triplets
 the numbers 12 , 5 , and 13 are pythogorean triplets
 the numbers 12 , 9 , and 15 are pythogorean triplets
 the numbers 15 , 8 , and 17 are pythogorean triplets

OOPS PROGRAMMING CONCEPT 
CREATE A CLASS THAT READS STUDENT DETAILS AND MARKS THUS DISPLAY THE RESULT OF STUDENT

In [ ]:
#### n = int(input('enter number of students:'))
##i=0
##while i<n:

class student:
    def __init__(self):
        self.name = input('enter your name :')
        self.usn = int(input('enter your usn:'))

    def marks(self):
        self.marks=[]
        self.marks.append(int(input('enter your physics marks:')))
        self.marks.append(int(input('enter your math marks:')))
        self.marks .append(int(input('enter your chemistry marks:')))
    def result(self):
        print('*******result*******')
        print('physics =',self.marks[0])
        print('maths =',self.marks[1])
        print('chemsity=',self.marks[2])
        
        print('TOTAL = ',(self.marks[0]+self.marks[1]+self.marks[1]))
        print('percentage = ',((self.marks[0]+self.marks[1]+self.marks[1])/300)*100)

s1 = student()
s1.marks()
s1.result()
##i=i+1

PRINTING THE SORTED FOR OR TEXT COPIED FROM A FILE

In [5]:
l = []
l1=[]
fp = open('file.txt','r') # opening the file inthe reading mode 
for lines in fp.readlines():   # reading each line in the paragraph
    l.extend(lines.split())    # extending the lines into list splited with spaces
    
l1 = sorted(l)  # appending the sorted list into another list
s1 = ' '.join(l1) # joing the list words using join function with spaces which returns string type 
s1.strip()    # removing the extra spaces 
fp1 = open('file.txt','w') # opening anothe file in writing mode 
fp1.writelines(s1)   # writing the lines of string in the another file
fp1.close()

USING CLASSES DO THE SUM OF TWO COMPLEX NUMBERS BY INPUTING TEHM FROM THE USER

In [20]:
class complex:
    def complexnumber(self):
        self.realpart=int(input('enter real part of complex:'))
        self.imgpart=int(input('enter the img part of complex:'))
        
    def displaycomplex(self):
        self.result=print(self.realpart,'+',self.imgpart,'j')
    def complexsum(self,c1,c2):
        self.realpart=c1.realpart+c2.realpart
        self.imgpart=c1.imgpart+c2.imgpart
        
        
c1=complex()
c2=complex()
c3=complex()
print('enter the 1st complex number:')
c1.complexnumber()
c1.displaycomplex()
print('the second complex number:')
c2.complexnumber()
c2.displaycomplex()
print('the sum is :')
c3.complexsum(c1,c2)
c3.displaycomplex()

enter the 1st complex number:

enter real part of complex: 1
enter the img part of complex: 2

1 + 2 j
the second complex number:

enter real part of complex: 3
enter the img part of complex: 4

3 + 4 j
the sum is :
4 + 6 j

In [21]:
class employee:
    def __init__(self,father,mother):
        self.f=father
        self.m=mother
        

e1=employee('man',90)
print(e1.__dict__)

{'f': 'man', 'm': 90}

In [17]:
class employee:
    def __init__(self,nm,ag):
        self.name=nm
        self.age=ag
        
f1=employee('raj',21,0)
print(e1.__dict__)

TypeError: employee.__init__() takes 3 positional arguments but 4 were given