lambda function in python

In [7]:
#anonymous functions are the functions without name
#these are used only when you wnt to use the function only once and without name
sq=lambda a,b:a*b     #write the key word lambda write funtion expression assign it to a name (type is = function varaible)
result = sq(5,6)    #now take a variab that stores the function return value in some variable
print(result) 
type(sq)
type(result)

30

int

In [29]:
l=[1,2,3,4,5]
sum(l)

TypeError: 'list' object is not callable

In [28]:
s=0
add=(list(map(lambda a : s+a , range(0,9))))
print(add)

type(add)
a=[1,2,3,4,5]
total=sum(a)
print(total)
#result = sum(add)
#print(result)

#here the map function returns the value to the each iteratiion and

[0, 1, 2, 3, 4, 5, 6, 7, 8]

TypeError: 'list' object is not callable

In [1]:
str = "harsha"
upper = lambda x:x.upper()
print(upper(str))

HARSHA

In [2]:
a=int(input('which number tables , you want:'))
i=0
tables = list(map(lambda t : a *t,  range(10+1)))
print(tables)
for i in range(11):
    print(a ,' *' ,i ,'=',tables[i])

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
4  * 0 = 0
4  * 1 = 4
4  * 2 = 8
4  * 3 = 12
4  * 4 = 16
4  * 5 = 20
4  * 6 = 24
4  * 7 = 28
4  * 8 = 32
4  * 9 = 36
4  * 10 = 40

in the above lambda function we can see that  lambda t , t is the function variable having the single expression 

for that expression containing t , set the range(10+1) 
to iterate the expression 10 times we use the function map  when you map the lambda function it starts  iterates 

so that all  the possibel results of the expression are evaluated 
now we cover entire expression inside a list